
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/roboto400.woff2");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/roboto500.woff2");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/roboto700.woff2");
  font-display: swap;
}

.search-hidden,
.login-hidden,
.chart-hidden {
  display: none;
}

.page {
  overflow-y: overlay;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", Arial, sans-serif;
  color: rgb(50, 50, 50);
  background-color: rgb(132, 157, 143);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  border: inherit;
}

a:hover,
a:active,
a:focus {
  color: rgb(255, 188, 158);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  position: relative;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 27px;
  padding-left: 27px;
}

.main-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: space-between;
  margin-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
}

.logo {
  margin-right: 10px;
}

.logo-link {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
  max-width: 700px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
}

.site-navigation-item {
  position: relative;
  font-weight: 700;
  line-height: 18px;
}

.site-navigation-item-current {
   padding: 7px 15px;
   color: white;
   text-decoration: none;
   background-color: rgb(208, 112, 88);
   border-radius: 15px;
}

.site-navigation-item::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 10px;
}

.site-navigation-item-link {
  display: block;
  padding: 7px 15px;
  color: white;
  text-decoration: underline;
  white-space: nowrap;
  border-radius: 15px;
}

.site-navigation-item-link:hover,
.site-navigation-item-link:focus {
  color: black;
  text-decoration: none;
  background-color: rgb(247, 246, 243);
}

.site-navigation-item-link:active {
  background-color: rgb(237, 237, 237);
  -webkit-box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
          box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
}

.catalog-menu {
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 1;
  min-width: 140px;
  padding-left: 0;
  overflow: hidden;
  list-style: none;
  background-color: rgb(248, 247, 244);
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
}

.catalog-menu-hidden {
  display: none;
}

.site-navigation-item:hover .catalog-menu-hidden,
.site-navigation-item:focus .catalog-menu-hidden {
  display: block;
}

/* для навигации табом по подменю */
.site-navigation-item:focus-within .catalog-menu-hidden {
  display: block;
}

.catalog-menu-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgb(50, 50, 50);
  text-decoration: none;
}

.catalog-menu-item-new {
  padding: 10px 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: rgb(50, 50, 50);
  text-decoration: none;
}

.catalog-menu-item-new::after {
  content: "";
  position: absolute;
  left: 5%;
  display: block;
  width: 90%;
  height: 1px;
}

.catalog-menu-item-current {
  background-color: rgb(208, 112, 88);
}

.childmenu-item-link {
  display: block;
  padding: 10px 15px;
}

.childmenu-item-link:hover,
.childmenu-item-link:focus {
  color: black;
  background-color: rgb(251, 222, 215);
}

.catalog-menu-item-current .childmenu-item-link:hover,
.catalog-menu-item-current .childmenu-item-link:focus {
  color: rgb(50, 50, 50);
  background-color: rgb(208, 112, 88);
}

.childmenu-item-link:active {
  background-color: rgb(246, 181, 165);
}

/* USER navigation */
.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: flex-end;
          align-items: center;
  max-width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
}

.user-navigation-item {
  position: relative;
  margin-right: 12px;
}

.user-navigation-item:last-of-type {
  margin-right: 0;
}

.user-navigation-search:hover .search-hidden,
.user-navigation-search:focus .search-hidden {
  display: block;
}

/* для навигации с клавиатуры по попапу формы поиска*/
.user-navigation-search:focus-within .search-hidden {
  display: block;
}


.user-navigation-login:hover .login-hidden,
.user-navigation-login:focus .login-hidden {
  display: block;
}

/* для навигации табом по попапу формы логина */
.user-navigation-login:focus-within .login-hidden {
  display: block;
}

.user-navigation-chart-full:hover .chart-hidden,
.user-navigation-chart-full:focus .chart-hidden {
  display: block;
}

/* для навигации табом по попапу корзины */
.user-navigation-chart-full:focus-within .chart-hidden {
  display: block;
}

.header-button {
  position: relative;
  display: block;
  min-height: 32px;
  padding: 8px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: white;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.header-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 40px;
}

.header-button-search {
  padding-right: 16px;
  padding-left: 16px;
}

.header-button-login,
.header-button-chart-full,
.header-button-chart {
  padding-right: 15px;
  padding-left: 45px;
}

.header-button-icon {
  position: absolute;
  top: 6px;
  left: 15px;
}

.header-button-search .header-button-icon {
  left: 8px;
}

.header-button:hover,
.header-button:focus {
  color: black;
  background-color: rgba(248, 247, 244, 0.5);
}

.header-button-search:hover .search-hidden {
  display: block;
}

.header-button-search:hover .search-icon-path {
  fill: black;
}

.header-button-login:hover .login-icon-path {
  fill: black;
}

.header-button-chart:hover .chart-icon-path {
  fill: black;
}

.header-button-login:hover .login-hidden {
  display: block;
}

.header-button-chart-full:hover .chart-hidden {
  display: block;
}

.search-popup {
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 1;
  padding: 20px 15px;
  background-color: rgb(248, 247, 244);
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
}

.search-popup:hover {
  display: block;
}

.header-search-input {
  min-width: 310px;
  padding: 13px 9px;
  border-radius: 5px;
}

.login-popup {
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 1;
  padding: 20px 15px;
  background-color: rgb(248, 247, 244);
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
}

.login-popup:hover {
  display: block;
}

.login-email-input,
.login-password-input {
  min-width: 310px;
  margin-bottom: 20px;
  padding: 13px 9px;
  border-radius: 5px;
}

.login-form-link-wrapper {
  position: absolute;
  bottom: 20px;
  left: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
          align-items: flex-start;
  text-decoration: underline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: start;
      -ms-flex-align: start;
}

.chart-popup:hover {
  display: block;
}

.chart-popup {
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 1;
  padding: 20px 15px;
  background-color: rgb(248, 247, 244);
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
}

.chart-table {
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px solid #ccccc9;
}

.cell-good-delete {
  padding-right: 10px;
}

.cell-good-image {
  padding-right: 10px;
}

.cell-good-name,
.cell-good-price  {
  padding-right: 30px;
}

.chart-total-cost {
  text-align: right;
}

.btn-delete {
  width: 11px;
  height: 11px;
  padding: 0;
  overflow: hidden;
  background: transparent;
  border: none;
}

.chart-mini-image {
  border-radius: 50%;
}

.chart-good-name {
  width: 215px;
}

.chart-good-price-weight {
  width: 95px;
}

.chart-good-price {
  color: #999999;
}

.chart-good-cost {
  width: 50px;
}

.chart-total-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: end;
      -ms-flex-align: end;
}

.chart-total-cost {
  margin-top: 0;
  margin-bottom: 15px;
}

.contact-info {
  position: absolute;
  right: 25px;
  bottom: -42px;
  width: 170px;
}

.contact-info-work-telephone {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: white;
}

.telephone {
  font-size: 22px;
  line-height: 24px;
}

/* main */

.breadcrumbs {
  position: absolute;
  top: 100px;
  left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  color: white;
}

.breadcrumbs-item::after {
  content: "»";
  padding-right: 5px;
  padding-left: 5px;
}

.breadcrumbs-item-link {
  text-decoration: underline;
}

.main-page-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.inner-page-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: white;
}

.features {
  margin-bottom: 40px;
  padding: 25px 23px 0 23px;
  background-color: rgb(238, 226, 203);
  background-image: url("../img/features-background.jpg");
  border-radius: 15px;
}

.features-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  -webkit-column-count: 2;
          column-count: 2;
}

.features-item {
  width: 535px;
  padding-top: 13px;
  padding-bottom: 5px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item-tech {
  padding-bottom: 8px;
  padding-left: 55px;
  background-image: url("../img/features-ice-cream.svg");
}

.features-item-eco {
  padding-bottom: 0px;
  padding-left: 55px;
  background-image: url("../img/features-eco.svg");
}

.features-item-farms {
  margin-left: 3px;
  padding-bottom: 8px;
  padding-left: 59px;
  background-image: url("../img/features-cow.svg");
}

.features-item-thermo {
  margin-left: 3px;
  padding-bottom: 0px;
  padding-left: 59px;
  background-image: url("../img/features-thermometer.svg");
}

/* раздел блог - новости */
.blog {
  padding-top: 25px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
  background-image: url("../img/blog-background.jpg");
  background-repeat: no-repeat;
}

.blog-intro {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
  font-weight: 500;
}

.article-announce-header {
  margin: 0;
  padding: 0;
}

.article-link {
  display: block;
  width: 300px;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
}

.offer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: space-between;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
}

.offer-malina,
.offer-shoko {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
          align-items: flex-start;
  width: 560px;
  min-height: 230px;
  padding: 20px 20px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: padding-box;
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: start;
      -ms-flex-align: start;
}

.offer-title {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: white;
}

.offer-message {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.btn-rounded.offer-button {
  margin-top: auto;
  margin-bottom: 5px;
  margin-left: auto;
  padding-right: 23px;
  padding-left: 23px;
}

.offer-malina {
  background-color: #5d0e1d;
  background-image: url("../img/offer-malina.jpg");
}

.offer-shoko {
  background-color: #40261b;
  background-image: url("../img/offer-shoko.jpg");
}

.hit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.blog-and-subscribe-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: space-between;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
}

.blog,
.subscribe {
  width: 560px;
  height: 220px;
  border-radius: 15px;
}

.subscribe {
  background-color: rgb(248, 247, 244);
  background-image: url("../img/subscribe-background.jpg");
}

.subscribe-background {
  width: 549px;
  height: 211px;
  margin: 5px auto;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscribe-slogan {
  margin-top: 0;
  margin-bottom: 35px;
}

.subscribe-input {
  width: 360px;
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 20px;
  padding: 13px 9px;
  border-radius: 5px;
}

.map {
  position: relative;
  width: 100%;
  height: 430px;
  background-color: rgba(221, 213, 188, 0.4);
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.map-overlay {
  position: absolute;
  top: 63px;
  right: 25px;
  z-index: 2;
  width: 302px;
  min-height: 305px;
  padding: 30px 25px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
}

.overlay-adress-intro {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.overlay-adress {
  margin-top: 0;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.overlay-phone-intro {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 20px;
}

.overlay-phone_number {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.overlay-work-hours {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 22px;
}

.btn-show-feedback {
  width: 100%;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
          justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
}

.catalog-item {
  position: relative;
  width: 270px;
  min-height: 325px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.catalog-item:hover::before,
.catalog-item:focus::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  width: 293px;
  height: 338px;
  margin-left: -147px;
  background-color: rgba(248, 247, 244, 0.2);
  background-clip: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.catalog-item:hover::after,
.catalog-item:focus::after {
  content: "";
  position: absolute;
  top: 332px;
  left: 50%;
  z-index: 1;
  z-index: 1;
  width: 293px;
  height: 67px;
  margin-left: -147px;
  background-color: rgba(248, 247, 244, 0.2);
  background-clip: border-box;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-fast-view {
  position: absolute;
  top: 339px;
  left: 50%;
  z-index: 2;
  display: none;
  margin-left: -100px;
  color: white;
}

.catalog-item:hover .btn-fast-view,
.catalog-item:focus .btn-fast-view  {
  display: block;
}


.catalog-item:nth-of-type(4n) {
  margin-right: 0;
}

.hit-label {
  position: absolute;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.list-item-header {
  position: absolute;
  z-index: 2;
  min-height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.catalog-item-image {
  height: 267px;
  margin-bottom: 8px;
  border-radius: 50%;
}

.catalog-item-price {
  position: absolute;
  top: 210px;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  color: white;
}

.list-item-header-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: white;
  text-decoration: underline;
}

.price-value {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  color: white;
}

/* footer */
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: space-between;
          align-items: center;
  min-height: 100px;
  margin-top: 0;
  font-size: 13px;
  line-height: 18px;
  color: white;
  text-decoration: underline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  -webkit-box-align: center;
      -ms-flex-align: center;
}

.main-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 1146px;
  height: 1px;
  margin-left: -573px;
  background-color: rgba(255, 255, 255, 0.3);
}

.production-suplliers {
  position: relative;
  font-weight: 700;
}

.production-suplliers::before {
  content: url("../img/production-info-heart.svg");
  position: absolute;
  top: 0;
  left: -22px;
}

.copyright-link {
  font-size: 12px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
}

.social-button {
  position: relative;
  display: block;
  width: 38px;
  height: 38px;
  margin-right: 11px;
  line-height: 0;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button:last-of-type {
  margin-right: 0;
}

.social-button-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.social-button:hover,
.social-button:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button:hover .social-icon-path,
.social-button:focus .social-icon-path {
  fill: white;
}

.social-button:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
          box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
}

.social-button:active .social-icon-path {
  fill: #e9e9e9;
}

.production-and-documents-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: space-between;
  width: 300px;
  margin-top: 31px;
  margin-bottom: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
}

.production-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 18px;
  margin-bottom: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

/* кнопки */
.btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus  {
  color: white;
}

.btn-rounded {
  padding: 10px 17px;
  border-radius: 22px;
}

.btn-orange {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(231, 74, 53)), to(rgb(242, 104, 67)));
  background-image: linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.btn-orange:hover,
.btn-orange:focus {
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(245, 134, 105)), to(rgb(236, 111, 94)));
  background-image: linear-gradient(to bottom, rgb(245, 134, 105), rgb(236, 111, 94));
  -webkit-box-shadow: 0 2px 2px 0 rgb(172, 16, 0);
          box-shadow: 0 2px 2px 0 rgb(172, 16, 0);
}



.btn-orange:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(231, 74, 53)), to(rgb(242, 104, 67))), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07)));
  background-image: linear-gradient(to bottom, rgb(231, 74, 53), rgb(242, 104, 67)), linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: inset 0 2px 2px 0 rgb(148, 39, 24);
          box-shadow: inset 0 2px 2px 0 rgb(148, 39, 24);
}

.pagination-wrap {
  min-height: 30px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: space-between;
  width: 200px;
  margin-right: 0;
  margin-bottom: 33px;
  margin-left: auto;
  padding-top: 7px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
}

.arrow,
.page-num,
.page-current {
  width: 26px;
  height: 26px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: white;
  background-position: 50% 50%;
}

.page-num,
.page-current {
  border-radius: 13px;
}

.page-num:hover,
.page-num:focus {
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
}

.page-current,
.page-num:active {
  color: black;
  background-color: white;
}

.page-current:hover,
.page-current:focus {
  color: black;
}

.arrow:hover,
.arrow:focus {
  color: white;
}

.arrow-disabled,
.arrow-disabled:hover,
.arrow-disabled:focus {
  color: rgba(255, 255, 255, 0.2);
}

.hit-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
          justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 0;
  list-style: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
}

.feedback-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 478px;
  padding: 20px 25px;
  background-color: rgb(248, 247, 244);
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.feedback-popup.feedback-hidden {
  display: none;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.feedback-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 28px;
}

.feedback-form .btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 17px;
  height: 17px;
  padding: 0;
  overflow: hidden;
  background: transparent;
  border: none;
}

.feedback-input {
  width: 267px;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 13px 9px;
  border-radius: 5px;
}

.feedback-textarea {
  width: 428px;
  width: 428px;
  min-height: 155px;
  margin-bottom: 25px;
  padding: 15px;
  resize: vertical;
}

.feedback-form .btn-submit {
  margin-left: auto;
}

.form-input:hover,
.form-input:focus {
  -webkit-box-shadow: inset 0 0 1px 1px rgba(154, 154, 154, 0.52);
          box-shadow: inset 0 0 1px 1px rgba(154, 154, 154, 0.52);
}

.form-input::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.form-input:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.form-input::-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.form-input::placeholder {
  font-weight: 400;
  color: #999999;
}

.form-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
  color: black;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.feedback-input:invalid {
  background-color: rgba(255, 204, 198, 0.5);
  border-color: red;
}

/* фильтр */
.filter {
  margin-bottom: 40px;
}

.filter-form-title {
  margin: 0 0 6px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: white;
}

.filter-label {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: white;
  cursor: pointer;
}

.filter-checkbox,
.filter-radio {
  display: none;
}

.radio-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  padding: 3px;
  background-clip: content-box;
  border: 3px solid white;
  border-radius: 50%;
  opacity: 0.8;
}

.radio-label:hover::before,
.radio-label:focus::before {
  opacity: 1;
}

.filter-radio:checked + .radio-label::before {
  background-color: white;

}

.checkbox-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 2px solid white;
  border-radius: 3px;
  opacity: 0.8;
}

.checkbox-label:hover::before,
.checkbox-label:focus::before {
  opacity: 1;
}

.filter-checkbox:checked + .checkbox-label::before {
  width: 24px;
  height: 24px;
  overflow: visible;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
    background-position: 0px -2px;
  background-size: 24px 24px;
  border: none;
}

.rounded-container {
  padding: 7px 15px;
  color: white;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 18px;
}

/* блок сортировка цена жирность */
.sort-price-fatness-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 860px;
  margin-top: 0;
  margin-bottom: 15px;
}

.sort-wrapper,
.price-range-wrapper {
  margin-right: 15px;
}

.sort-wrapper {
  width: 194px;
}

.filter-select{
  position: relative;
  width: 100%;
  padding: 7px 15px;
  line-height: 20px;
  color: white;
  text-indent: 0.01px;
  text-overflow: "";
  background-color: rgba(248, 247, 244, 0.2);
  background-image: url('../img/icon-down-dir-white.svg');
  background-repeat: no-repeat;
  background-position: 95% center;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.filter-select::-ms-expand{
display: none;
}

.filter-select:hover,
.filter-select:focus {
  color: black;
  background-image: url('../img/icon-down-dir-black.svg');
}

.filter-select-option {
  color: black;
  background-color: rgba(248, 247, 244, 0.1);
}

.price-range-pin-and-filline {
  position: relative;
  width: 220px;
  height: 37px;
}

.pin {
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.8;
}

.pin:hover {
  opacity: 1;
}

.pin-left {
  position: absolute;
  top: 50%;
  left: 35px;
  margin-top: -10px;
}

.pin-right {
  position: absolute;
  top: 50%;
  right: 65px;
  margin-top: -10px;
}

.fill-line-background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 176px;
  height: 4px;
  margin-top: -2px;
  margin-left: -88px;
  background-color: rgba(248, 247, 244, 0.5);
}

.fill-line {
  position: absolute;
  top: 50%;
  right: 85px;
  left: 55px;
  height: 4px;
  margin-top: -2px;
  background-color: rgb(248, 247, 244);
}

.fatness-wrapper {
  width: 415px;
}

.fatness-wrapper .radio-label {
  margin-right: 16px;
  margin-left: 10px;
}

.fatness-wrapper .radio-label:last-of-type {
  margin-right: 0;
  margin-left: 0;
}

/* блок наполнители и кнопка */
.filler-submit-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 860px;
  margin-top: 0;
}

.filler-wrapper {
  margin-right: 15px;
}

.filler-wrapper {
  width: 703px;
}

.filler-wrapper .checkbox-label {
  margin-right: 17px;
  margin-left: 10px;
}

.filler-wrapper .checkbox-label:last-of-type {
  margin-right: 0;
}

.filter-btn-submit {
  width: 144px;
  margin-top: 22px;
  padding: 7px 15px;
  color: white;
  background-color: rgba(248, 247, 244, 0.2);
  border: 2px solid white;
  border-radius: 18px;
  cursor: pointer;
}

.filter-btn-submit:hover,
.filter-btn-submit:focus  {
  color: rgb(50, 50, 50);
  background-color: white;
}

.filter-btn-submit:active {
  background-color: rgb(237, 237, 237);
  -webkit-box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
          box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
}

.slider {
  position: relative;
  min-height: 527px;
  overflow: visible;
}

.slider-radio-label-wrapper {
  position: absolute;
  bottom: 30px;
  left: 0;
  z-index: 1;
}

.slide-overlay {
  position: absolute;
  top: 52%;
  left: 50%;
  z-index: 2;
  width: 900px;
  margin-left: -450px;
}

.slide-overlay-info {
  width: 900px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: white;
}

.btn-slider {
  display: block;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  border-radius: 32px;
}

.slide1-overlay,
.slide2-overlay,
.slide3-overlay {
  display: none;
}

.slide-radio-label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-top: 446px;
  margin-right: 5px;
  overflow: hidden;
  vertical-align: baseline;
  text-indent: 100px;
  border: 3px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.slide-radio-label:hover,
.slide-radio-label:focus {
  background-color: rgba(248, 247, 244, 0.4);
}

#slide1-radio:checked ~ .site-wrapper .slide1-overlay {
  display: block;
}

#slide1-radio:checked ~ .site-wrapper .slide1-label {
  background-color: white;
}

#slide2-radio:checked ~ .site-wrapper .slide2-overlay{
  display: block;
}

#slide2-radio:checked ~ .site-wrapper .slide2-label {
  background-color: white;
}

#slide3-radio:checked ~ .site-wrapper .slide3-overlay{
  display: block;
}

#slide3-radio:checked ~ .site-wrapper .slide3-label {
  background-color: white;
}

#slide1-radio:checked ~ .site-wrapper {
  background-color: rgb(132, 157, 143);
  background-image: url("../img/slide1.png");
}

#slide2-radio:checked ~ .site-wrapper {
  background-color: rgb(137, 150, 166);
  background-image: url("../img/slide2.png");
}

#slide3-radio:checked ~ .site-wrapper {
  background-color: rgb(157, 139, 132);
  background-image: url("../img/slide3.png");
}

.site-wrapper {
  z-index: -2;
  background-color: rgb(132, 157, 143);
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
