@font-face {
  font-weight: 400;
  font-family: "Geometria";
  font-style: normal;
  src: url("../fonts/Geometria.woff");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: "Geometria";
  font-style: normal;
  src: url("../fonts/Geometria-Medium.woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Geometria";
  font-style: normal;
  src: url("../fonts/Geometria-Bold.woff");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Philosopher";
  font-style: normal;
  src: url("../fonts/Philosopher.woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Philosopher";
  font-style: normal;
  src: url("../fonts/Philosopher-Bold.woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Philosopher";
  font-style: italic;
  src: url("../fonts/Philosopher-BoldItalic.woff");
  font-display: swap;
}
